{# {% extends 'base.html.twig' %}

{% block title %}Score index{% endblock %}

{% block body %}
    
<div id="slider">
            
        </div>
        <h1>Score</h1>
    <div class="container-md">
        <div class="row">
            
            <div class="col-9">
                <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
                        {% for score in scores %}
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ score.Subject.Name }}</h5>
                                        <h5 class="card-title"> {{ score.Student.Name}}</h5>
                                        <p >Point1: {{ score.Point1 }}</p>
                                        <p >Point2: {{ score.Point2 }}</p>
                                        
                                    </div>
                                    <div class="card-footer">       
                                        <a href="{{ path('app_score_show', {'id': score.id}) }}"
                                           class="btn btn-primary">Show</a>
                                        <a href="{{ path('app_score_edit', {'id': score.id}) }}"
                                           class="btn btn-primary">Edit</a>   
                                    </div>   
                                </div>
                            </div>
                        {% endfor %}
                          </div>
                </div>
            </div>
        </div>
                        
                        
        </div>
        <a href="{{ path('app_score_new') }}" class="btn btn-primary">Create new</a>

    
{% endblock %}
 #}

