{% extends 'base.html.twig' %}

{% block title %}Score{% endblock %}

{% block body %}
    <h1>Score</h1>

    <div class="row row-cols-1 row-cols-md-4 g-4">
                        
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ score.Student.Name }}</h5>
                    <h5 class="card-title">Class: {{ score.Subject.Name }}</h5>
                   
                    <p >Point1 {{ score.Point1 }}</p>
                    <p >Point2: {{ score.Point2 }}</p>                   
                </div>
                                    
        </div>
    </div>
                        
                        
    </div>

    <a href="{{ path('app_score_index') }}">back to list</a>

    <a href="{{ path('app_score_edit', {'id': score.id}) }}">edit</a>

    {{ include('score/_delete_form.html.twig') }}
{% endblock %}
